.home {
    background-image: url('../../../public/img/background.gif'); 
    background-repeat:no-repeat;
    width: 100%;
    background-size: cover;
    height: 720px;
}

.btn-connect, .btn-minting, .btn-play2E, .btn-about {
    height: 80px;
    width: 140px;
    background-color: #e1636e;
    font-style: inherit;
    color: #fff;
    font-size: 20px;
    border: 5px solid white;
    border-radius: 5px !important;
}

.btn-group {
    margin-top: 100px;
}

.btn-connect,.btn-minting, .btn-play2E, .btn-about :hover {
    color: #fff !important;
}
